<main id="main" class="main">

  <div class="pagetitle">
    <h1>Profile</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Home</a></li>
        <li class="breadcrumb-item active">Portfolio</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img src={{imageUrl}} alt="Profile" class="rounded">
            <h2>{{name}}</h2>
            <h3>{{job}}</h3>
            <div class="social-links mt-2">
              <a href={{twitter}} Target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href={{instagram}} Target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href={{linkedin}} Target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

        </div>
        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
            <h3>Tweets</h3>
            {{#each tweets}}
            <div class="row">
              <div class="col-lg-12 col-md-12 label">John Lennon tweeted:</div>
              <div class=" rounded" style="border:3px solid rgb(45, 156, 216);">{{text}}</div>
            </div>
            {{/each}}
          </div>

        </div>
      </div>
      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab"
                  data-bs-target="#profile-overview">Overview</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
              </li>



            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">About</h5>
                <p class="small fst-italic">"{{description}}."</p>

                <h5 class="card-title">Profile Details</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Full Name</div>
                  <div class="col-lg-9 col-md-8">{{name}} {{lastname}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Job</div>
                  <div class="col-lg-9 col-md-8">{{job}}</div>
                </div>


                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Phone</div>
                  <div class="col-lg-9 col-md-8">{{phone}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{email}}</div>
                </div>


                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Experience (years)</div>
                  <div class="col-lg-9 col-md-8">{{experience}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Experience Summary</div>
                  <div class="col-lg-9 col-md-8">{{experienceSum}}</div>
                </div>



              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                <!-- Profile Edit Form -->
                <form class="row g-3" validate action="/updateportfolio" method="POST">

                  <div class="row mb-3">
                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image URL</label>
                    <div class="col-md-8 col-lg-9">
                     
                          <input name="imageurl" type="text" class="form-control" id="imageurl" value={{imageUrl}}>
                  
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="name" class="col-md-4 col-lg-3 col-form-label">Names </label>
                    <div class="col-md-8 col-lg-9">
                      <input name="nameval" type="text" class="form-control" id="nameval" value={{name}}>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Lastname </label>
                    <div class="col-md-8 col-lg-9">
                      <input name="lastname" type="text" class="form-control" id="lastname" value={{lastname}}>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
                    <div class="col-md-8 col-lg-9">
                      <textarea name="description" class="form-control" id="description"
                        style="height: 100px">{{description}}.</textarea>
                    </div>
                  </div>


                  <div class="row mb-3">
                    <label for="Job" class="col-md-4 col-lg-3 col-form-label">Job</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="job" type="text" class="form-control" id="job" value="{{job}}">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="phone" type="text" class="form-control" id="phone" value={{phone}}>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="email" type="email" class="form-control" id="email" value={{email}}>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Email" class="col-md-4 col-lg-3 col-form-label">Experience (years)</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="experience" type="Experience" class="form-control" id="experience" value={{experience}}>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="company" class="col-md-4 col-lg-3 col-form-label">Experience Summary</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="experienceSum" type="text" class="form-control" id="experienceSum" value="{{experienceSum}}">
                    </div>
                  </div>


                  <div class="row mb-3">
                    <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Twitter Profile</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="twitter" type="text" class="form-control" id="twitter" value={{twitter}}>
                    </div>
                  </div>



                  <div class="row mb-3">
                    <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram Profile</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="instagram" type="text" class="form-control" id="instagram" value={{instagram}}>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Linkedin Profile</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="linkedin" type="text" class="form-control" id="linkedin" value={{linkedin}}>
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                  </div>
                </form><!-- End Profile Edit Form -->

              </div>